.block_enrolmenttimer .content .timerNum {
    display: inline-block;
    line-height: 30px;
}
.block_enrolmenttimer .content .noDateSet {
    text-align: center;
}
.block_enrolmenttimer .content .numberTypeWrapper {
    display: inline-block;
}
.block_enrolmenttimer .content .numberTypeWrapper .timerNum {
    display: block;
}
.block_enrolmenttimer .content .numberTypeWrapper p {
    font-size: 0.65em;
    margin: 0;
    text-align: center;
}
.block_enrolmenttimer .content .timerNumChar {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #000 url([[pix:block_enrolmenttimer|background]]) repeat-x;
    border-radius: 3px;
    color: #fff;
    font-size: 1.3em;
    margin: 2px;
    padding: 3px;
}
.block_enrolmenttimer .content .seperator {
    color: #000;
    display: inline-block;
    font-weight: bold;
    line-height: 30px;
    vertical-align: top;
}
.block_enrolmenttimer .content .timer-wrapper {
    display: table;
    margin: 1em auto 0.6em auto;
}
.block_enrolmenttimer .content p {
    margin: 0 0 10px 0;
    text-align: center;
}
.block_enrolmenttimer .content .text-wrapper {
    margin-top: 10px;
}
.block_enrolmenttimer .content .text-wrapper .text-desc {
    font-size: 0.65em;
    margin: 0;
}
.block_enrolmenttimer .content .text-wrapper .sub-text {
    font-size: 0.8em;
}